li > span {
	background-color: brown;
}

/* li[class~="item"] + span {
	background-color: aquamarine;
} */
li.item + span {
	background-color: darkorange;
}
li.item ~ span {
	background-color: darkslateblue;
}
li + span {
	background-color: yellow;
}
