a[href] {
	color: pink;
}

a[href="http://example.com"]
{
	color: blue;
}

a[href*="example"] {
	color: red;
}
a[href$="org"] {
	color: yellow;
	background: black;
}

li[class="item"] a {
	color: green;
}
li[class~="item"] a {
	color: green;
}
