/* header {
	background: yellow;
} */

/* p {
	color: red;
} */
/* #first {
	background-color: yellow;
} */

.color-red {
	color: red;
}

.background-yellow {
	background-color: yellow;
}
#first.bold {
	font-weight: bold;
}
/* .color-red.background-yellow {
	font-weight: bold;
} */
div.background-yellow {
	font-weight: bold;
}
#first p.color-red {
	background: green;
}
